<div class="videoPlayer">
  <video #videoPlayer (loadedmetadata)="onMetadataLoaded()" (timeupdate)="onTimeUpdate()">
    <source [src]="video_url + currentVideoPlay?.VideoUrl" type="video/mp4" />
  </video>

  <div class="controls">
    <ion-range min="0" [max]="duration" [value]="currentTime" (ionChange)="seekTo($event)"></ion-range>

    <ion-row class="ion-justify-content-between">
      <ion-row class="ion-align-items-center">
        <ion-button fill="clear" (click)="togglePlayPause()">
          <ion-icon [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
        </ion-button>
        <span>{{ formatTime(currentTime) }} / {{ formatTime(duration) }}</span>
      </ion-row>

      <ion-row class="ion-align-items-center">
        <ion-button fill="clear" (click)="toggleSettings()">
          <ion-icon name="settings-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" (click)="toggleFullscreen()">
          <ion-icon name="expand-outline" *ngIf="!isFullscreen"></ion-icon>
          <ion-icon name="contract-outline" *ngIf="isFullscreen"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-row>

    <!-- Settings Menu -->
    <div *ngIf="showSettings" class="settings-menu">
      <h3>Settings</h3>

      <ion-item>
        <ion-icon name="options-outline"></ion-icon>
        <ion-select label="Quality" [(ngModel)]="selectedQuality" (ionChange)="changeQuality($event)">
          <ion-select-option *ngFor="let quality of currentVideoPlay?.videoFormat" [value]="quality">
            {{ quality }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-icon name="play-circle-outline"></ion-icon>
        <ion-select label="Playback Speed" [(ngModel)]="playbackSpeed" (ionChange)="changePlaybackSpeed($event)">
          <ion-select-option *ngFor="let speed of playbackSpeeds" [value]="speed">
            {{ speed }}x
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>
  </div>
</div>
