<div class="videoPanel">
  <video #videoPlayer src="../../assets/video/video.mp4" class="mainVideo" autoplay></video>
  <div class="controls">

    <div class="topMenu">
      <ion-buttons slot="start">
        <ion-button shape="round" routerLink="#">
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-button shape="round" size="small" fill="none" (click)="presentPopover($event)">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </div>

    <div class="midMenu">
      <ion-button shape="round" fill="none" (click)="skipBackward()">
        <ion-icon slot="icon-only" name="play-back"></ion-icon>
      </ion-button>
      <ion-button shape="round" size="large" fill="none" (click)="togglePlay()">
        <ion-icon slot="icon-only" [name]="isPlaying ? 'pause' : 'play'"></ion-icon>
      </ion-button>
      <ion-button shape="round" fill="none" (click)="skipForward()">
        <ion-icon slot="icon-only" name="play-forward"></ion-icon>
      </ion-button>
    </div>

    <div class="bottomMenu">
      <ion-row>
        <span>{{ currentTime | number:'1.0-0' }} / {{ duration | number:'1.0-0' }}</span>

        <ion-button fill="none" shape="round" size="small" (click)="toggleFullscreen()">
          <ion-icon name="expand-outline" *ngIf="!isFullscreen"></ion-icon>
          <ion-icon name="contract-outline" *ngIf="isFullscreen"></ion-icon>
        </ion-button>

        <!-- <ion-button shape="round" size="small" fill="none">
          <ion-icon slot="icon-only" name="scan"></ion-icon>
        </ion-button> -->
      </ion-row>

      <ion-range min="0" [value]="currentTime" [max]="duration" (ionChange)="onRangeChange($event)">
      </ion-range>
    </div>


  </div>
</div>

<ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
  <ng-template>
    <ion-content>
      <ion-item>
        <ion-select label="Quality"  interface="action-sheet" placeholder="Select Quality">
          <ion-select-option> 1080p </ion-select-option>
          <ion-select-option> 720p </ion-select-option>
          <ion-select-option> 480p </ion-select-option>
          <ion-select-option> 360p </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select label="Speed" interface="action-sheet"
          placeholder="Select Playback Speed">
          <ion-select-option> 0.25x </ion-select-option>
          <ion-select-option> 0.5x </ion-select-option>
          <ion-select-option> 1x </ion-select-option>
          <ion-select-option> 1.25x </ion-select-option>
          <ion-select-option> 1.5x </ion-select-option>
          <ion-select-option> 2x </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-popover>


