<div class="videoPlayer">
  <video src="../../assets/video/video.mp4" id="mainVideo"></video>
  <div class="controls">

    <div class="progressArea">
      <div class="progressBar">
        <span></span>
      </div>
    </div>

    <div class="subControls">

      <div class="leftControl">

        <ion-button shape="round" size="small">
          <ion-icon slot="icon-only" name="play-skip-back"></ion-icon>
        </ion-button>

        <ion-button shape="round" size="small">
          <ion-icon slot="icon-only" name="play"></ion-icon>
        </ion-button>

        <ion-button shape="round" size="small">
          <ion-icon slot="icon-only" name="play-skip-forward"></ion-icon>
        </ion-button>

        

        <div class="sound">
          <ion-button shape="round" size="small">
            <ion-icon slot="icon-only" name="volume-medium"></ion-icon>
          </ion-button>
          <div class="soundArea">
            <div class="soundBar">
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="rightControl">
        <ion-button shape="round" size="small">
          <ion-icon slot="icon-only" name="settings"></ion-icon>
        </ion-button>
        <ion-button shape="round" size="small">
          <ion-icon slot="icon-only" name="scan"></ion-icon>
        </ion-button>

      </div>

    </div>

  </div>
</div>