.videoPlayer {
  width: 100%;
  position: relative;
  background-color: red;

  #mainVideo {
    width: 100%;
    aspect-ratio: 16 / 9;
    display: block;
  }

  .controls {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 10px;
    gap: 10px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    flex-direction: column;

    .progressArea {
      width: 100%;
    }

    .progressBar {
      width: 100%;
      -webkit-appearance: none;
      appearance: none;
      background: #fff;
      height: 5px;
      cursor: pointer;
      outline: none;
      border-radius: 50px;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: #ff0000;
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }

      &::-moz-range-thumb {
        background: #ff0000;
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }
    }

    .subControls {
      display: flex;
      height: 20px;
      justify-content: space-between;

      .leftControl,
      .sound,
      .rightControl {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        ion-button {
          color: white;
        }
      }

      .sound {
        display: flex;
        gap: 10px;
        align-items: center;
      }

      .soundBar {
        -webkit-appearance: none;
        appearance: none;
        width: 70px;
        height: 5px;
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        cursor: pointer;
        outline: none;
        border-radius: 50px;
      }

      .soundBar::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        background: #ff0000;
        height: 10px;
        width: 10px;
        border-radius: 50%;
      }


    }
  }
}